<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMwIjPuOF5MbJ3-yi4xgQoyoP2kzX8xSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>354340058842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quazzdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>quazzdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354340058842:ios:737faf6aa3a84c613957e3</string>
</dict>
</plist>